.banner {
    width: $page_width;
    overflow: hidden;
    .menu {
        @extend %size;
        position: absolute;
        z-index: 5;
        left: 214px;
        overflow: hidden;
        .slist-li {
            @extend %list;
            height: 37.33px;
            border-bottom: 1px dashed #ddd;
            background: linear-gradient(90deg, red, #ff3264);
            a {
                display: block;
                line-height: 37.33px;
                text-decoration: none;
                color: #fff;
                &:hover {
                    //代表父元素
                    text-decoration: underline;
                }
            }
        }
        .cartlist {
            position: absolute;
            left: 164px;
            top: 0;
            width: 926px;
            min-height: 460px;
            border: 1px solid #f7f7f7;
            background-color: #fff;
            box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
            display: none;
            transition: top 0.5s ease;
        }
    }
    .content {
        width: $box_width;
        height: 460px;
        margin: 0 auto;
        position: relative;
        .pic {
            position: absolute;
            left: 50%;
            margin-left: -960px;
            display: none;
        }
        .active {
            display: block;
        }
    }
    .b_l {
        display: none;
        width: 34px;
        height: 68px;
        background: url(https://kaola-haitao.oss.kaolacdn.com/fd1d7d20-1f64-4c35-a49a-a73f7d20b73e_979_797.png) no-repeat -625px -68px;
        position: absolute;
        top: 320px;
        left: 390px;
        text-decoration: none;
        color: red;
    }
    .b_r {
        display: none;
        width: 34px;
        height: 68px;
        background: url(https://kaola-haitao.oss.kaolacdn.com/fd1d7d20-1f64-4c35-a49a-a73f7d20b73e_979_797.png) no-repeat -670px -68px;
        position: absolute;
        top: 320px;
        right: 250px;
        text-decoration: none;
        color: red;
        @include borderstyle(1px, solid, red);
    }
    &:hover .b_l {
        display: block;
    }
    &:hover .b_r {
        display: block;
    }
    .m-sellpoint {
        position: relative;
        margin-top: -15px;
        margin-bottom: 20px;
        height: 45px;
        background-color: rgba(0, 0, 0, .3);
        .h-sellepoint {
            margin: 0 auto;
            width: $box_width;
            .m_right {
                float: right;
                height: 45px;
                color: #fff;
                line-height: 45px;
                a {
                    font-size: 12px;
                    text-decoration: none;
                    color: #fff;
                }
            }
            .m-left {
                float: left;
                width: 468px;
                line-height: 45px;
                height: 45px;
                color: #fff;
                a {
                    font-size: 12px;
                    float: left;
                    margin-right: 40px;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}