.banner {
    width: $page_width;
    overflow: hidden;
    .wrap {
        @extend %size;
        position: relative;
    }
    .menu {
        //二级菜单
        position: absolute;
        z-index: 5;
        // overflow: hidden;
        .slist-li {
            @extend %list;
            height: 37.33px;
            border-bottom: 1px dashed #ddd;
            background: linear-gradient(90deg, red, #ff3264);
            a {
                display: block;
                line-height: 37.33px;
                text-decoration: none;
                color: #fff;
            }
            &:hover .cartlist {
                display: block;
            }
        }
        .selected {
            font-weight: bold;
            background: #fff;
            a {
                color: red;
            }
        }
        .cartlist {
            background: red;
            z-index: 50;
            position: absolute;
            left: 164px;
            top: 0;
            width: 926px;
            min-height: 460px;
            border: 1px solid #f7f7f7;
            background: #c1c1c1;
            box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
            display: none;
            transition: top 0.5s ease;
            .item {
                background: #fff;
                display: inline-block;
                width: 500px;
                height: 455px;
                a {
                    margin-right: 20px;
                    text-decoration: none;
                    color: red;
                }
                p {
                    font-weight: bold;
                    font-size: 22px;
                    border-bottom: 1px solid #ddd;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    color: #333;
                    font-size: 15px;
                }
            }
        }
    }
    .content {
        width: $box_width;
        height: 460px;
        margin: 0 auto;
        position: relative;
        .pic {
            position: absolute;
            left: 50%;
            margin-left: -960px;
        }
        ol {
            position: absolute;
            bottom: 30px;
            left: 200px;
        }
        .ol-active {
            float: left;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background: #999;
            text-indent: -999em;
            margin-right: 10px;
        }
        .stay {
            background: red;
        }
    }
    .b_l {
        position: absolute;
        left: 169px;
        top: 250px;
        display: none;
        width: 34px;
        height: 68px;
        background-color: yellow;
        background: url(https://kaola-haitao.oss.kaolacdn.com/fd1d7d20-1f64-4c35-a49a-a73f7d20b73e_979_797.png)no-repeat -625px -68px;
    }
    .b_r {
        position: absolute;
        right: 0px;
        top: 250px;
        display: none;
        width: 34px;
        height: 68px;
        background-color: yellow;
        background: url(https://kaola-haitao.oss.kaolacdn.com/fd1d7d20-1f64-4c35-a49a-a73f7d20b73e_979_797.png)no-repeat -670px -67px;
    }
    &:hover .b_l {
        display: block;
    }
    &:hover .b_r {
        display: block;
    }
    .m-sellpoint {
        overflow: hidden;
        width: 100%;
        position: relative;
        margin-top: 0px;
        margin-bottom: 20px;
        height: 45px;
        background-color: rgba(0, 0, 0, .3);
        .h-sellepoint {
            overflow: hidden;
            margin: 0 auto;
            width: $box_width;
            .m_right {
                float: right;
                height: 45px;
                color: #fff;
                line-height: 45px;
                a {
                    font-size: 12px;
                    text-decoration: none;
                    color: #fff;
                }
            }
            .m-left {
                float: left;
                width: 468px;
                line-height: 45px;
                height: 45px;
                color: #fff;
                a {
                    font-size: 12px;
                    float: left;
                    margin-right: 40px;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}