.search {
    @extend %size;
    height: 100px;
    position: relative;
    .logo_kaola_new {
        //左边图片
        position: absolute;
        left: 0;
        top: 20px;
        background: url(http://kaola-haitao.oss.kaolacdn.com/271c7d10-5167-443a-afe5-9f0729964b5e.png?v=1&x-oss-process=image)no-repeat;
        display: block;
        width: 330px;
        height: 65px;
        background-size: auto 65px;
    }
    .search_m {
        //中间的搜索框
        position: absolute;
        left: 343px;
        top: 33px;
    }
    #topsearch {
        //整个框
        width: 510px;
        height: 40px;
        padding-left: 1px;
        background-color: #ff2337;
        border-radius: 40px;
        .wrap {
            width: 380px;
            float: left;
            margin: 1px 0px;
            padding: 6px 39px 6px 30px;
            background-color: #fff;
            border-radius: 24px 0 0 24px;
            .icon-fangdajing {
                position: absolute;
                left: 10px;
                top: 13px;
            }
        }
    }
    #topSearchInput {
        //输入框
        width: 410px;
        height: 24px;
        line-height: 24px;
        border: 0;
        font-size: 13px;
        outline: none;
    }
    #tosearchbtn {
        display: inline-block;
        height: 40px;
        width: 50px;
        font-size: 19px;
        line-height: 40px;
        color: #fff;
        text-align: center;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 5px;
        background: url(https://kaola-haitao.oss.kaolacdn.com/6e4da089-9347-4dc2-be19-4962832a4a5c.png?v=1&x-oss-process=image%2Fresize%2Cw_20%2Ch_0%2Fquality%2Cq_85) no-repeat 50%;
        background-image: -webkit-image-set(url(https://kaola-haitao.oss.kaolacdn.com/6e4da089-9347-4dc2-be19-4962832a4a5c.png?x-oss-process=image/resize,w_20,h_0/quality,q_85&v=1) 1x, url(https://kaola-haitao.oss.kaolacdn.com/6e4da089-9347-4dc2-be19-4962832a4a5c.png?x-oss-process=image/resize,w_40,h_0/quality,q_85&v=1) 2x);
    }
    #fangdajing {
        background: url(https://kaola-haitao.oss.kaolacdn.com/6e4da089-9347-4dc2-be19-4962832a4a5c.png?x-oss-process=image/resize,w_20,h_0/quality,q_85&v=1);
    }
    .m-shopcartnew {
        display: block;
        position: absolute;
        right: 76px;
        top: 33px;
        width: 106px;
        height: 36px;
        background-color: #fff;
        line-height: 36px;
        font-size: 14px;
        text-align: center;
        -moz-border-radius: 36px;
        -webkit-border-radius: 36px;
        border-radius: 36px;
        border: 2px solid #ff1e32;
        text-decoration: none;
        .s_wrap {
            display: inline-block;
            padding-left: 6px;
            background: none;
            vertical-align: middle;
        }
        .c_wrap {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 2px;
            margin-bottom: -5px;
            background: url(https://kaola-haitao.oss.kaolacdn.com/14f1eb69-f7c0-4d4f-95d8-4aee8e2e1f1b.png?x-oss-process=image%2Fresize%2Cw_20%2Ch_0%2Fquality%2Cq_90) no-repeat 0 0;
        }
    }
}