@import 'public';
$page_width: 100%;
$box_width: 1090px;
$font12:12px;
$font14:14px;
$font16:16px;
@import 'top';
@import 'search';
@import 'slist';
@import 'banner';
@import 'info';
@import 'imgwrap';